body {
  background-color: rgb(128, 0, 0);
  color: white;
  font-family: optima;
  font-size: 24px
}
.lenet {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan */
  padding: 20px
  color: white;
  bakground-color: rgb(128, 0, 0);
  border-radius: 15px; /*sudut melengkung*/
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*efek bayangan*/
  text-align: center; /*menengahkan semua teks dalam klas lenet*/
} 
.lanat img{
  width: 150px;
  border-radius: 50%; /*membuat gambar persegi*/
